<div class="class">
  <h1>Descrevendo usuário:</h1>
  <p>Nome: {{ name }}</p>
  <p>
    O carro da {{ name }} é uma {{ car }}, todos os dias ela vai ao trabalho com
    a sua {{ car }}, {{ name }} ama a sua {{ car }}
  </p>

  <h1>Características da {{ name }}</h1>
  <p>{{ name }} é formada em {{ dados.profissao }}</p>
  <p>
    Em {{ dados.profissao }} o que a {{ name }} mais gosta é
    {{ dados.area }}
  </p>
  <p>O email de {{ name }} é {{ dados.email }}</p>
  <p>{{ name }} é {{ dados.aparencia }}</p>
</div>
