<div class="class">
  <h2>Two way data binding</h2>
  <form>
    <input
      type="text"
      [(ngModel)]="name"
      name="name"
      placeholder="Digite seu nome"
    />
    <input type="submit" value="Enviar" />
  </form>
  <div *ngIf="name !== ''">
    <p>O nome é: {{ name }}</p>
  </div>

  <form>
    <input
      type="text"
      [(ngModel)]="especie"
      name="especie"
      placeholder="digite a especie"
    />
    <input type="submit" value="Enviar" />
  </form>
  <div *ngIf="especie !== ''">
    <p>A espécie é: {{ especie }}</p>
  </div>
</div>
